keybinds {//unbind "Alt h" "Alt j" "Alt k" "Alt l"
    unbind "Alt Left" "Alt Down" "Alt Up" "Alt Right"
    normal {
        unbind "Ctrl s"
    }
    shared_except "search" "locked" {
        bind "Ctrl f" {
            SwitchToMode "Search"
        }
    }
}
theme "catppuccin-macchiato"

