keybinds {
  session {
    bind "f" { LaunchOrFocusPlugin "file:~/.config/zellij_plugins/zellij-sessionizer.wasm" {
            floating true
            move_to_focused_tab true
            cwd "/"
            root_dirs "~/work;~/personal;~/projects"
            session_layout "default"
        }; SwitchToMode "Locked";
  }
}
theme "catppuccin-macchiato"
